@use "../../styles/variables" as var;

// Live notifications container
.live-notifications {
  max-height: 14.7rem;
  height: 14.7rem;
  overflow-y: auto;
  border: 0.08rem solid var.$black-color;

  // Empty state styles
  &__empty {
    text-align: center;
    color: var.$gray-color;
  }

  // List styles
  &__list {
    list-style: none;
    padding: 0;
  }

  // Item styles
  &__item {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 0rem 0.5rem 1.2rem;
    margin-bottom: 0.2rem;
    font-size: var.$font-small;
  }

  // Time styles
  &__time {
    font-size: var.$font-xx-small;
  }
}
