// Colors
$primary-color: #0a66c2;
$dark-blue: #0073e6;
$hover-color: #ffcc00;
$yellow-color: #fdf277;
$text-color: white;
$black-color: #000;
$gray-color: rgb(137, 136, 136);
$gray-light: #dfdede;
$gray-dark: #666;
$green-color: #2f9e44;
$light-green: #b2f2bb;
$red-color: #e03131;
$light-red: #ffc9c9;
$blue-gray: #e8ecec;

// Spacing
$max-width: 75rem;

// Font Sizes
$font-xx-small: 0.7rem;
$font-x-small: 0.8rem;
$font-small: 0.9rem;
$font-medium: 1rem;
$font-medium-large: 1.2rem;
$font-large: 1.5rem;
